<div class="ps-3">
    <div class="container-fluid">
        <div class="navbar-brand"><img src="icon-192.png" style="width: 35px; margin-right: 6px;"> PhoneStore</div>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column px-3">
        <NavLink class="nav-link rounded-3 text-dark fw-medium" ActiveClass="bg-primary fw-bold text-white" href=""
            Match="NavLinkMatch.All">
            Transaksi Baru
        </NavLink>
        <NavLink class="nav-link rounded-3 text-dark fw-medium" ActiveClass="bg-primary fw-bold text-white"
            href="/riwayat-transaksi">
            Riwayat Transaksi
        </NavLink>
        <NavLink class="nav-link rounded-3 text-dark fw-medium" ActiveClass="bg-primary fw-bold text-white"
            href="/phone">
            Phone
        </NavLink>
        <NavLink class="nav-link rounded-3 text-dark fw-medium" ActiveClass="bg-primary fw-bold text-white"
            href="/brand">
            Brand
        </NavLink>
        <NavLink class="nav-link rounded-3 text-dark fw-medium" ActiveClass="bg-primary fw-bold text-white"
            href="/staff">
            Staff
        </NavLink>
    </nav>
</div>
